
<div class="container mat-elevation-z5">
  <form [formGroup]="rondelicaForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column">

      <h2 fxLayoutAlign="center">Vnosna maska</h2>
      <p>V polje se vpisuje število ki je v milimetrih (mm).</p>
      <br>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Dolžina traku</mat-label>
        <input type="number" matInput formControlName="dolzinaTraku">
        <span matSuffix>mm</span>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Širina traku</mat-label>
        <input type="number" matInput formControlName="sirinaTraku">
        <span matSuffix>mm</span>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Polmer rondelice</mat-label>
        <input type="number" matInput formControlName="polmerRondelic">
        <span matSuffix>mm</span>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Minimalna razdalja med robovi rondelic</mat-label>
        <input type="number" matInput formControlName="razdaljaMedRondelicama">
        <span matSuffix>mm</span>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Razdalji spodaj in zgoraj</mat-label>
        <input type="number" matInput formControlName="zacetekInKonecRob">
        <span matSuffix>mm</span>
        <mat-hint>Minimalna razdalja med rondelico in robovi traku</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Razdalji med začetkom in koncem</mat-label>
        <input type="number" matInput formControlName="zgornjiInSpodnjiRob">
        <span matSuffix>mm</span>
        <mat-hint>Minimalna razdalja med rondelico in robovi traku</mat-hint>
      </mat-form-field>
      <br>

      <button mat-raised-button color="accent" type="submit">Izračunaj</button>

    </div>
  </form>
</div>
