
.izris-container {
  // border-top : 15mm solid aquamarine;
  // border-right : 5mm solid green;
  // border-bottom : 15mm solid green;
  // border-left : 5mm solid green;

  border-color: cornflowerblue;
  border-style: solid;
  border-top-width  : 30px;

}

.izris-rondelica {
  //height: 25px;
  //width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.izris-rondelica :first-child {
  margin-top: 0;
  margin-left: 0;
}
