
.container {
  margin: 20px;
}

.presentation {
  padding: 20px;
  margin: 20px;
}

.image {
  padding: 20px;
  width: 700px;
}

@media only screen and (max-width: 600px) {
  .image {
    width: 300px;
  }
}